<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032144114713-530dbtnhr0eomotc731ha8m9kqgn7o58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032144114713-530dbtnhr0eomotc731ha8m9kqgn7o58</string>
	<key>API_KEY</key>
	<string>AIzaSyA5TsGJwydI8CaZ3Utl3-Lu5nKLetpkOxg</string>
	<key>GCM_SENDER_ID</key>
	<string>1032144114713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelson.nelsonCheckincheckout</string>
	<key>PROJECT_ID</key>
	<string>nelson-checkincheckout</string>
	<key>STORAGE_BUCKET</key>
	<string>nelson-checkincheckout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032144114713:ios:8a7d92b1f9d83a60bb8688</string>
</dict>
</plist>